# Exam Scores

## Author: Buhle Maphela
### Student No: 217076335
### Due Date: 14 April 2023
### Github url:

# Reading my data

In [28]:
import pandas as pd

exams_df = pd.read_excel('C:\\Users\\buhle\\Downloads\\Data set\\exam scores.xlsx')
exams_df

,Gender,Race/Ethnicity,Parental level of education,Math score,Reading score,Writing score
0,female,Indian,College,59,70,78
1,male,Indian,Diploma,96,93,87
2,female,Indian,College,57,76,77
3,male,White,College,70,70,63
4,female,Indian,Diploma,83,85,86
...,...,...,...,...,...,...
115,female,Indian,Degree,98,95,100
116,female,Indian,High school,90,96,88
117,male,Coloured,High school,64,71,68
118,female,White,High school,38,55,52
119,female,White,Degree,84,91,93

In [29]:
exams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       120 non-null    object
 1   Race/Ethnicity               120 non-null    object
 2   Parental level of education  120 non-null    object
 3   Math score                   120 non-null    int64
 4   Reading score                120 non-null    int64
 5   Writing score                120 non-null    int64
dtypes: int64(3), object(3)
memory usage: 5.8+ KB

## Cleaning my dataset

In [18]:
exams_dfClean = exams_df

In [22]:
exams_dfClean['Gender'] = exams_dfClean['Gender'].replace({'female' : 1, 'male':0})

exams_dfClean['Race/Ethnicity'] = exams_dfClean['Race/Ethnicity'].replace({'African' : 1, 'White' :2, 'Coloured' :3, 'Indian' :4})
exams_dfClean['Parental level of education'] = exams_dfClean['Parental level of education'].replace({'High school' :1, 'College' :2, 'Diploma' :3, 'Degree' : 4,"Master's degree" :5})

## Descriptive Statistics

### MEAN

In [26]:
# average = exams_df[['Gender', 'Race/Ethnicity','Parental level of education', 'Math score', 'Reading score', 'Writing score']].mean()
# average

means = exams_dfClean.mean()
dataframe = pd.DataFrame({'Mean':means})
dataframe

                                  Mean
Gender                        0.491667
Race/Ethnicity                2.900000
Parental level of education   2.391667
Math score                   69.650000
Reading score                72.333333
Writing score                70.850000